	   	<div class="container">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
/*var availableTags = [
"ActionScript",
"AppleScript",
"Asp",
"BASIC",
"C",
"C++",
"Clojure",
"COBOL",
"ColdFusion",
"Erlang",
"Fortran",
"Groovy",
"Haskell",
"Java",
"JavaScript",
"Lisp",
"Perl",
"PHP",
"Python",
"Ruby",
"Scala",
"Scheme"
];*/

var availableTags = ["<% @users.each do |user| %><%= user.FirstName %><% end %>"];
alert(availableTags);
$( "#tags" ).autocomplete({
source: availableTags
});
});
</script>



		<div class="serch-fld">
        	<label class="margin-top">Message Center</label>
        </div>	
        <div class="col-sm-4 white-bg message-center">
 			<h4>New message</h4>
 			<div class="form-group">
				<%= render 'form' %>
			</div>
		<!--%= link_to 'Back', messages_path %-->
		</div>
	</div>
