<p id="notice"><%= notice %></p>

<p>
  <strong>Supportdescription:</strong>
  <%= @admin_tech_support.SupportDescription %>
</p>

<%= link_to 'Edit', edit_admin_tech_support_path(@admin_tech_support) %> |
<%= link_to 'Back', admin_tech_supports_path %>
