<div class="container">
<div class="edit-cmny-dtl">
<div class="edit-cmp-form">
<p id="notice"><%= notice %></p>

<p>
  <strong>Company Name:</strong>
  <%= @admin_company.CompanyName %>
</p>
<div class="show-actions">
<%= link_to 'Edit', edit_admin_company_path(@admin_company), :class => "edit-btn-comp" %> 
<%= link_to 'Back', admin_companies_path, :class => "back-btn-comp" %>
</div>
</div>
</div>
</div>