<h1>Listing service_center_reviews</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @service_center_reviews.each do |service_center_review| %>
      <tr>
        <td><%= link_to 'Show', service_center_review %></td>
        <td><%= link_to 'Edit', edit_service_center_review_path(service_center_review) %></td>
        <td><%= link_to 'Destroy', service_center_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service center review', new_service_center_review_path %>
