    <div class="container">

    <div class="serch-fld">
          <label class="margin-top">Service Alert </label>
           <span class="align-right">
              <input class="form-control" type="search">
                <input value="" class="search-submit" type="submit" />
            </span>
           
        </div>  
<form accept-charset="UTF-8" action="/admin/service_centers/1" class="edit_admin_service_center" id="edit_admin_service_center_1" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="WhiqDRuoUNsupuYXDFgRJCAVlGZsYboEJUb9u3NbS5M=" /></div>

  <div class="field">
    <label for="admin_service_center_Name">Name</label><br>
    <input id="admin_service_center_Name" name="admin_service_center[Name]" type="text" value="New Center" />
  </div>
  <div class="field">
    <label for="admin_service_center_State">State</label><br>
    <input id="admin_service_center_State" name="admin_service_center[State]" type="text" value="NY" />
  </div>
  <div class="field">
    <label for="admin_service_center_StreetAddress">Streetaddress</label><br>
    <input id="admin_service_center_StreetAddress" name="admin_service_center[StreetAddress]" type="text" value="#123" />
  </div>
    <div class="field">
    <label for="admin_service_center_StateCode">Statecode</label><br>
    <input id="admin_service_center_StateCode" name="admin_service_center[StateCode]" type="text" value="111" />
  </div>
  <div class="field">
    <label for="admin_service_center_City">City</label><br>
    <input id="admin_service_center_City" name="admin_service_center[City]" type="text" value="NY" />
  </div>
  <div class="field">
    <label for="admin_service_center_Pin">Pin</label><br>
    <input id="admin_service_center_Pin" name="admin_service_center[Pin]" type="text" value="16001" />
  </div>
  <div class="field">
    <label for="admin_service_center_Tel">Tel</label><br>
    <input id="admin_service_center_Tel" name="admin_service_center[Tel]" type="text" value="2132144" />
  </div>
  <div class="field">
    <label for="admin_service_center_Fax">Fax</label><br>
    <input id="admin_service_center_Fax" name="admin_service_center[Fax]" type="text" value="231231213" />
  </div>
  <div class="field">
    <label for="admin_service_center_Email">Email</label><br>
    <input id="admin_service_center_Email" name="admin_service_center[Email]" type="text" value="service@center.com" />
  </div>
  <div class="field">
    <label for="admin_service_center_Url">Url</label><br>
    <input id="admin_service_center_Url" name="admin_service_center[Url]" type="text" value="http://servicecenter.com" />
  </div>
  <div class="field">
    <label for="admin_service_center_ContactPerson">Contactperson</label><br>
    <input id="admin_service_center_ContactPerson" name="admin_service_center[ContactPerson]" type="text" value="Randhir Singh" />
  </div>
  <div class="field">
    <label for="admin_service_center_lat">Lat</label><br>
    <input id="admin_service_center_lat" name="admin_service_center[lat]" type="text" value="30.642550" />
  </div>
  <div class="field">
    <label for="admin_service_center_lan">Lan</label><br>
    <input id="admin_service_center_lan" name="admin_service_center[lan]" type="text" value="76.817336" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Update Service center" />
  </div>
</form><a href="/admin/service_centers">Back</a>
<%#= link_to 'Back', admin_service_centers_path %>
</div>