<div class="container">
   <div class="serch-fld">
          <label class="margin-top">Service Alert </label>
           <span class="align-right">
              <!-- <input class="form-control" type="text" name="search" >
                <input value="" class="search-submit" type="submit" /> -->
            </span>
           
    </div>  

    	<div class="srvc-cntr-fld">	
			<div class="srvc-frm">	
				<form method="post" action="/">
					<div class="field">
						<label>Description</label>
						<input type="text" name="description">
						<input type="hidden" name="alert_id" value="<%= params[:alert]%>">
						<input type="hidden" name="sent_by" value="WebUser">
						<% if user_signed_in? %>
							<input type="hidden" name="user_id" value="<%= current_user.id%>">
						<% end %>
					</div>
					<div class="field">
						<input type="submit" name="commit" value="Add Note">
					</div>
				</form>
			</div>
		</div>
</div>