<%= javascript_include_tag "jquery.validate.min.js" %>
 <script type="text/javascript">
  jQuery(document).ready(function() {
    $(".notes").validate({
      errorElement: "label",
	    rules: {
	       "description": "required"
	    },
	    messages: {
	       "description": "Description is required"	
	    }
  	});
  }); 
</script>
<div class="container">
   <div class="serch-fld">
          <label class="margin-top">Service Alert </label>
           <span class="align-right">
              <!-- <input class="form-control" type="text" name="search" >
                <input value="" class="search-submit" type="submit" /> -->
            </span>
           
    </div>  
<ol class="breadcrumb">
       <li class="active">>> <a href="/">Home</a> >> <a href="/alert_details?id=<%= params[:alert]%>"> Alert Details</a> >> Add Notes</li>
    </ol>
    	<div class="srvc-cntr-fld">	
			<div class="srvc-frm">	
				<form method="post" action="/add_notes_web" class="notes">
					<div class="dercp-nt">
						<label>Description</label>
						<textarea name="description"></textarea>
						<input type="hidden" name="alert_id" value="<%= params[:alert]%>">
						<input type="hidden" name="sent_by" value="WebUser">
						<% if user_signed_in? %>
							<input type="hidden" name="user_id" value="<%= current_user.id%>">
						<% end %>
					</div>
					<div class="dercp-nt">
						<input type="submit" name="commit" value="Add Note">
					</div>
				</form>
			</div>
		</div>
</div>