<div class="container">
   <div class="serch-fld">
          <label class="margin-top">Service Alert </label>
           <span class="align-right">
              <!-- <input class="form-control" type="text" name="search" >
                <input value="" class="search-submit" type="submit" /> -->
            </span>
           
    </div>  

    	<div class="srvc-cntr-fld">	
			<div class="srvc-frm">	
			</div>
		</div>
</div>