<h1>Listing vehicle_locations</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_locations.each do |vehicle_location| %>
      <tr>
        <td><%= link_to 'Show', vehicle_location %></td>
        <td><%= link_to 'Edit', edit_vehicle_location_path(vehicle_location) %></td>
        <td><%= link_to 'Destroy', vehicle_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle location', new_vehicle_location_path %>
