 <script type="text/javascript">
 

    $(document).ready(function(){

      $('#table').tablesorter();

    $('input[name="search"]').keyup(function(){

      var searchterm = $(this).val();

      if(searchterm.length > 3) {

       var match = $('tr.data-row:contains("' + searchterm +'")');

       var nomatch = $('tr.data-row:not(:contains("' + searchterm + '"))');

       match.addClass('selected');

       nomatch.css("display", "none");

      } else {

       $("tr.data-row").css("display", "");

       $("tr.data-row").removeClass("selected");

      }

    });

    });

</script>
    <div class="container">

    <div class="serch-fld">
          <label class="margin-top">Dipatch Users </label>
           <span class="align-right">
                <input value="" class="search-submit" type="text" name="search" />
            </span>
           
        </div>  
        <ol class="breadcrumb">
      <li class="active"> Main</li>
      </ol>
      <a href="/admin/manage_dispatch_user_edit">Add New</a>
        <div class="table-responsive">
          <table class="table-striped table-bordered table-condensed" width="100%">
            <% @users.each do |usr| %>
           <tr class="data-row"><td>
              <a style="color:#000" href="manage_dispatch_user_edit?id=<%= usr.id %>"><%= usr.FirstName %>&nbsp;<%= usr.LastName %></a>
              </td></tr>
            <% end %>
            </table>
            </div>
        </div>
      </div>

