<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_eobr_make.Name %>
</p>

<%= link_to 'Edit', edit_admin_eobr_make_path(@admin_eobr_make) %> |
<%= link_to 'Back', admin_eobr_makes_path %>
